body{
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
}
section{
    margin-bottom: 150px;
    text-align: center;
}
.header-aria{
    text-align: center;
    color: white;
    background-image: linear-gradient(#ffffff4a, black) ,url(images/donation2.jpg);
    background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   
    height: 500px;
}
.header-aria h1{
    font-size: 65px;
    text-align: center;
    padding-top: 65px;
    margin:0;
}
.header-aria p{
    margin-bottom: 40px;
}

.btn{
    background-color: #FF5959;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: 200;
    color: white;
    border-radius: 5px;
}
.donate-wraper{
    text-align: center;
    display: flex;
    
    
}
.donate h1{
    font-size: 50px;
}
.donate-wraper .donate-item{
    width: 15%;
    padding: 10px 0;
    margin: 10px;
    
    background-color: #FAFAFA;

}
.donate-wraper .donate-item h2{
    color: #000000b0;
}
.donate input{
    width: 700px;
    margin-bottom: 30px;
}

.plan{}
.plan-wraper{
    width: 1000px;
    margin: auto;
    display: flex;
}
.plan h1{
    font-size: 50px;
}
.plan-item{
    width: 30%;
    padding: 1%;
    margin: 1%;
    text-align: left;
    background-color: #4f9da611;
    border-radius: 5px;
}

.item-1{}
.item-2{
    background-color: #ff59591a;
}
.item-3{
    background-color: #f6e58d3a;
}